{% extends 'admin_base.html.twig' %}

{% block title %}Liste des utilisateurs!{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1 style="text-align:center"><mark>Les utilisateurs</mark></h1> 
    <a href="{{ path('home') }}" class="btn btn-info">Retour au menu principale</a> 
</div>
    <h1>{{ user | length }} utilisateurs</h1>
    {%for user in users %}   
        <ul>
            <li>
                <h2>{{ user.username }}</h2>
                <h3>{{ user.email }}</h3>
                {{ user.roles[0] }}
                <td><a class="btn btn-warning" style="color:white" href="{{ path('admin_editRole', {'id':user.id}) }}" role="button" >Modifier</a></td>
            </li>
        </ul>
    <hr>
    {% endfor%}
   
{% endblock %}