{% extends 'admin_admin.html.twig' %}

{% form_theme formUser 'bootstrap_4_layout.html.twig' %}

{% block body %}
   
        <div class="jumbotron" style="background-color:orange">
            <h1 style ="text-align:center">Modification du user</h1>
        </div>                

    {{ form_start(formUser) }}   
    {{ form_row(formUser.lastName, {'attr': {'placeholder': "Nom"}}) }}
    {{ form_row(formUser.firstName, {'attr': {'placeholder': "Prénom"}}) }}
    {{ form_row(formUser.email, {'attr': {'placeholder': "Email"}}) }}
    {{ form_row(formUser.password, {'attr': {'placeholder': "Mot de passe"}}) }}

    <button type="submit" class="btn btn-success">Modifier</button>
    
    {{ form_end(formUser) }}
    
{% endblock %}